RPC_URL="https://api.mainnet-beta.solana.com"
PUMP_URL="https://pumpportal.fun/api/trade-local"
JUPITER_QUOTE_URL = "https://quote-api.jup.ag/v6/"
JUPITER_SWAP_URL = "https://lite-api.jup.ag/swap/v1/swap"
SOL_MINT="So11111111111111111111111111111111111111112"
DB_USER=user
DB_PASS=pass
DB_HOST=host
DB_PORT=port
DB_NAME=name